---
permalink: /topics/
templateClass: container content
eleventyNavigation:
  key: Topics
  order: 1
layout: layouts/home.njk
---
{% for topic in topics | sort(0, 0, 'name') %}
  {% set topicUrl %}/topics/{{ topic.name | slug }}/{% endset %}
  <h4> <a href="{{ topicUrl | url }}">{{topic.name}} - {{ topic.question}}</a></h4>
  {% set tagList = topic.tags %}
  {% include "taglist.njk" %}

  {% set postslist = collections.posts | filterTags(topic.tags) | head(-3) %}
  {% set postslistCounter = postslist | length %}

  {% include "postslist.njk" %}
{% endfor %}
