---
layout: layouts/base.njk
templateClass: container content
---
<h1>{{ title }}</h1>

<time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
{%- for tag in tags | filterTagList -%}
{%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
<a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
{%- endfor %}

<br/>

{{ content | safe }}

{%- if assetId and mediaType == 'spotify' %}
<iframe src="https://open.spotify.com/embed/episode/{{ assetId }}?utm_source=generator" width="100%" height="232" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" id="{{mediaType}}-player"></iframe>
{%- endif %}

{%- if assetId and mediaType == 'youtube' %}
<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ assetId }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen id="{{mediaType}}-player"></iframe>
{%- endif %}

{%- if assetId and mediaType == 'odysee' %}
<iframe id="odysee-iframe" width="560" height="315" src="https://odysee.com/$/embed/{{assetId}}" allowfullscreen id="{{mediaType}}-player"></iframe>
{%- endif %}

{%- if assetId and mediaType == 'rumble' %}
<iframe class="rumble" width="640" height="360" src="https://rumble.com/embed/{{assetId}}" frameborder="0" allowfullscreen></iframe>
{%- endif %}

<br/>

<span> {{ description }} <span/>

<br/>
{%- for timestamp in timestamps -%}
<p> <a href="?t={{timestamp[0]}}">{{timestamp[1]}} - {{ timestamp[2] }} <a/><p/>
{%- endfor %}

{%- if collections.posts %}
{%- set nextPost = collections.posts | getNextCollectionItem(page) %}
{%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
{%- if nextPost or previousPost %}
<hr>
<ul>
  {%- if nextPost %}<li>Next: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></li>{% endif %}
  {%- if previousPost %}<li>Previous: <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></li>{% endif %}
</ul>
{%- endif %}
{%- endif %}

<script>
  var param = /[&?]t=([^&]+)/.exec(location.search);
  param = param ? param[1].replace(/"/g, '&quot;') : '';
  if (param) {
    {%- if mediaType == 'spotify' %}
    {%- endif %}

    {%- if mediaType == 'youtube' %}
    document.getElementById("{{mediaType}}-player").src = `https://www.youtube.com/embed/{{ assetId }}?start=${param}&autoplay=1&mute=0&enablejsapi=1&showinfo=0`;
    {%- endif %}

    {%- if mediaType == 'odysee' %}
    {%- endif %}
  }
  {# document.write(`<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ assetId }}?start=${param}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>`); #}
</script>
